/* Allgemeine Stile */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --base-color: white;
  --highlight-color: #f0f0f0;
  --text-color: #111528;
}

.darkmode {
  --base-color: rgb(19, 28, 40);
  --highlight-color:rgb(69, 74, 78);
  --text-color: rgb(234, 223, 217);
  --second-color: rgb(48, 52, 56); 
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
}



/* Theme Switch*/

#theme-switch img {
  width: 34px;
  height: 34px;
}

#theme-switch img:last-child {
  display: none;
}

.darkmode #theme-switch img:first-child {
  display: none;
}

.darkmode #theme-switch img:last-child {
  display: block;
}

/* Footer */
footer {
  margin-top: auto;
  padding: 24px;
  text-align: center;
  background-color: var();
}
.footer-button {
  display: flex;
  justify-content: space-around; /* Gleichmäßige Verteilung */
  align-items: center;
  width: 100%;
}
.footer-button button {
  flex-grow: 1; /* Jedes Element nimmt gleich viel Platz ein */
  max-width: 120px; /* Optional: Maximalbreite setzen */
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}


